body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .productContainers {
    position: relative;
    width: 50%;
    flex: 33.33%;
    text-align: center;
    padding: 2px;
  }

  .productRows{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
  }

  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .productmiddle {
    opacity: 0;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    background-color: black;
  }

  .productMiddle {
    opacity: 0;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    background-color: black;
  }

  .imageWrapper:hover  .productmiddle {
    opacity: 1;
  }

  .imageWrapper:hover  .productMiddle {
    opacity: 1;
  }


  .imageWrapper:hover .image {
    opacity: 0.3;
  }

  /* button */
  .buttonButton1 {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .buttonButton1 {
    background-color: white;
    color: black;
    border: 2px solid black;
  }

  .buttonButton1:hover {
    background-color: black;
    color: white;
  }

  /* for searach bar */


  /* Small screens */
  @media all and (max-width: 375px) {
      .productRows {
      flex-direction: column;
      justify-content: space-around;
    } 
  }

/* Small screens */
@media all and (max-width: 375px) {
  .navigation {
    flex-direction: column;
  }
}
