* {
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: white;
}


/* footer */
.footer {
  text-align: center;
  padding: 3px;
  background-color: white;
  color: black;
}

/* links */
.fa {
  padding: 0px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  color: black;
}

.fa-twitter {
  color: black;
}

/* Facebook */
.fa-instagram {
  color: black;
}

/* Twitter */
.fa-google {
  color: black;
}


.header h1 {
  font-size: 40px;
}

/* nav bar for all pages */
.navbar {
  overflow: hidden;
  background-color: black;
  top: 0;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a.right {
  float: right;
}

.navbar a:hover {
  background-color: burlywood;
  color: black;
}

.navbar a.active {
  background-color: silver;
  color: white;
}


/* Medium screens */
@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  .navigation {
    flex-direction: column;
  }
}
